.account {
  &__left {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: 100%;
      background-color: #fff;
    }
  }

  &__info {
    &-avar {
      width: 20%;
    }
    &-main {
    }

    &-name,
    &-email {
      margin: 0;
    }
  }

  &__menu {
    cursor: pointer;
    transition: all linear 0.2s;
    color: #000;

    &:hover {
      color: #3d87e7;
    }

    &-icon {
      font-size: 30px;
      margin-right: 12px;
    }
    &-text {
      margin: 0;
      font-size: 20px;
    }
  }
}
