@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import './subHeader.scss';
@import './header.scss';
@import './mainPost.scss';
@import './subPost.scss';
@import './commonPost.scss';
@import './footer.scss';

* {
  font-family: 'Montserrat', sans-serif;
}

.ml-1 {
  margin-left: 8px;
}
.mr-1 {
  margin-right: 8px;
}

.pd-1 {
  padding: 8px;
}

.bdr-none {
  border-radius: unset;
}

.mt-4-5 {
  margin-top: 35px;
}
