.subHeader {
  height: 50px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  &__container {
    height: 100%;
  }
  &__date {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  &__action {
    &-inputGroup {
      margin-left: 5px;
    }
  }

  &__social {
    margin-left: 5px;
    &-icon {
      font-size: 20px;
      width: 30px;
      height: 30px;

      border-radius: 50%;
      color: #fff;
      margin-left: 3px;

      cursor: pointer;
    }

    &-fb {
      background-color: #1b7bfd;
    }
    &-tw {
      background-color: #42c0f5;
    }
    &-ins {
      background-color: #c23785;
    }
    &-ytb {
      background-color: #ef5043;
    }
  }
}

.menu {
  position: relative;
  cursor: pointer;

  &__ava {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
  }

  &__name {
    margin: 0;
  }

  &__item {
    background: #333;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    z-index: 10;

    &-link {
      margin: 5px 8px;
      color: #fff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover &__item {
    display: flex;
  }
}
