.subHeader {
  height: 50px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  &__container {
    height: 100%;
  }
  &__date {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  &__action {
    &-inputGroup {
      margin-left: 5px;
    }
  }

  &__social {
    margin-left: 5px;
    &-icon {
      font-size: 20px;
      width: 30px;
      height: 30px;

      border-radius: 50%;
      color: #fff;
      margin-left: 3px;

      cursor: pointer;
    }

    &-fb {
      background-color: #1b7bfd;
    }
    &-tw {
      background-color: #42c0f5;
    }
    &-ins {
      background-color: #c23785;
    }
    &-ytb {
      background-color: #ef5043;
    }
  }
}
